<section class="mb3 mb4-l">
  <h2 class="ttu mb3 nl3 nr3 mh0-l relative bb b--blue bw2">
    <span class="bg-blue white dib pv2 ph3 nb1">Education</span>
  </h2>
  
  <div class="flex-l w-100 mb4">
    <div class="w-100 w-25-l mb2 pt1">2008-2011</div>
    <div class="w-100 w-75-l">
      <div class="mb1 mb2-l fw6 f4">BS, Business Administration</div>
      <div class="mb2 f5">Saint Louis University</div>
      <p>Received a Bachelor's of Science in Business Administration with an emphasis in Information Technology Management.</p>
    </div>
  </div>

  <div class="flex-l w-100">
    <div class="w-100 w-25-l mb2 pt1">2007-2008</div>
    <div class="w-100 w-75-l">
      <div class="mb1 mb2-l fw6 f4">Engineering Department</div>
      <div class="mb2 f5">Iowa State University</div>
      <p>Studied Mechanical Engineering for 3 semesters prior to transferring to Saint Louis University. Did not receive a degree for these courses.</p>
    </div>
  </div>

</section>