<section>
  <h2 class="ttu mb3 nl3 nr3 mh0-l relative bb b--blue bw2">
    <span class="bg-blue white dib pv2 ph3 nb1">Experience</span>
  </h2>
  
  <div class="flex-l w-100 mb4">
    <div class="w-100 w-20-l mb2 pt1">2016-present</div>
    <div class="w-100 w-80-l">
      <div class="mb1 mb2-l fw6 f4">Senior Developer</div>
      <div class="mb2 f5">World Wide Technology, Inc.</div>
      <p>
        I build web applications, components, and APIs using Vue, AngularJS, Node, and Java (Grails). I am an active member in our UI/UX virtual team as well as a mentor to other developers. I contribute to a lot of communal projects within the organization and was the main contributor to the custom in-house CSS framework used in our front-end apps.
      </p>
    </div>
  </div>
  
  <div class="flex-l w-100 mb4">
    <div class="w-100 w-20-l mb2 pt1">2013-2015</div>
    <div class="w-100 w-80-l">
      <div class="mb1 mb2-l fw6 f4">Developer</div>
      <div class="mb2 f5">World Wide Technology, Inc.</div>
      <p>
        As a developer, I continued building more robust solutions within the ServiceNow platform as well as serving as an admin for the system. Eventually I transitioned into a role on the User Experience team building front-end web applications in AngularJS.
      </p>
    </div>
  </div>
  
  <div class="flex-l w-100 mb4">
    <div class="w-100 w-20-l mb2 pt1">2011-2012</div>
    <div class="w-100 w-80-l">
      <div class="mb1 mb2-l fw6 f4">Associate Developer</div>
      <div class="mb2 f5">World Wide Technology, Inc.</div>
      <p>
        As an associate, I served as a dual admin/developer on the ServiceNow platform. I developed applications within the platform centered around various ITSM practices, including Scrum, Change Management, Incident Management, and our Service Catalog.
      </p>
    </div>
  </div>
  
  <div class="flex-l w-100 mb4">
    <div class="w-100 w-20-l mb2 pt1">2011-2011</div>
    <div class="w-100 w-80-l">
      <div class="mb1 mb2-l fw6 f4">Intern</div>
      <div class="mb2 f5">World Wide Technology, Inc.</div>
      <p>
        As an intern in the IT Project Management Organization, I worked with a team of roughly a dozen project managers, assisting them with project work and maintenance. I analyzed data in Excel and created reports to track progress.
      </p>
    </div>
  </div>
</section>