<section class="mb3 mb4-l">
  <h2 class="ttu mb3 nl3 nr3 mh0-l relative bb b--blue bw2">
    <span class="bg-blue white dib pv2 ph3 nb1">Statement</span>
  </h2>
  <p class="lh-copy">
    I am a full-stack web developer focused on building performant, responsive web sites, applications, APIs, and components.
    I care deeply about the experience a person has when they use something I have built.
    I want it to be as enjoyable as possible for them, which first and foremost means it should be fast and it should work on whatever device they are using.
    I am also passionate about technology and learning.
    I love playing around with new technologies to see how they can be used to better solve problems.
  </p>
</section>